<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/indexejs.css">
</head>
<body>
    <div class = container >
        <div class ="boxContainer">
            <section class="boxTop">
                <h1>3FT2 Social Network</h1>
            </section>
            <section class="boxBottom">
                <div class="btn-container">
                    <a href="/auth/login" name="login" class="btn-login"><button>Login</button></a>
                </div>
                <div class="btn-container">
                    <a href="/auth/login" name="create-account" class="btn-account"><button>Create Account</button></a>
                </div>
            </section>
        </div>
    </div>    
<script src="js/main.js"></script>
</body>
</html>

