<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= user.displayName %>'s Profile</h1>
    <% if(imgs != null) { %>
      <p><%= imgs.filename %></p>
      <% imgs.forEach( el => { %>
          <li data-id="<%= el._id %>">
            <img src="<%= "/uploads/images/" + el.filename %>" alt="">
            <button class="del" type="button" name="button">Delete</button>
          </li>
      <% }) %>
    <% } %>
    <form class="uploadedImg" action= "/profile/upload" method="POST" enctype="multipart/form-data">
      <input type="file" id="myFile" name="photo" accept="image/*">
      <input type="submit" value="upload">
    </form>
    <a href="../auth/logout">Logout</a>
    <script src="js/main.js"></script>
</body>
</html>
