/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

*{
  Font-size: 1em;
  list-style: none;
}

/* .main-nav * {
  list-style:none;
} */

/* Clearfix */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
 clear: both;
}

/******************************************
/* LAYOUT
/*******************************************/
section {
  border: 3px solid blue;
  border-width: thick;
  border-radius: 3px;
  background-color: gray;
  height: 20rem;
  width: 50%;
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 25%;
}

button {
  border: 2.5px solid black;
  border-radius: 10px;
  height: 3rem;
  margin: 1.5rem;
}

header {
  height: 7vh;
  background: black;
}

.main-nav, .secondary-nav {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondary-nav {
  color: white;
}

nav span {
  position: absolute;
  right: 15%;
}

header li {
  display: inline-block;
  padding: 0 5px;
}

header li:first-child {
  position: absolute;
  left: 3%;
}

header li:last-child {
  position: absolute;
  right: 3%;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
