body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fpContainer{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column`;
}
.formContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fpForm {
  font-size: x-large;
  padding: 40px;
  border: 1px solid blue;
  border-radius: 4px;
}
