* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Clearfix */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
 clear: both;
}



/* *****STYLES***** */

.main-nav * {
  list-style:none;
}



/* *****LAYOUT***** */

.landing-container {
  height: 90vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.left-landing {
  position: relative;
  bottom: 10%;
  right: 10%;
}

.btn-container {
  padding: 1rem 0;
}

header {
  height: 7vh;
  background: black;
}

.main-nav, .secondary-nav {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondary-nav {
  color: white;
}

nav span {
  position: absolute;
  right: 15%;
}

header li {
  display: inline-block;
  padding: 0 5px;
}

header li:first-child {
  position: absolute;
  left: 3%;
}

header li:last-child {
  position: absolute;
  right: 3%;
}

.formContainer {
  height: 93vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background: gray;
  padding: 3rem 2rem;
  border-radius: 5px;
}

form h2 {
  margin-bottom: 2.5rem;
  text-align: center;
}

form * {
  padding: 0.5rem 0;
}

label {
  display: inline-block;
  width: 8rem;
}

input {
  padding-left: 0.3rem;
}

.main-feed {
  display: flex;
  justify-content: center;
  margin: 0 20rem;
  padding: 0 10px;
}

.main-container {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(1, minmax(100px, 1fr));
  grid-template-rows: auto;
  justify-content: center;
  row-gap: 2rem;
  /* background: blue; */
}

.main-post {
  height: 50rem;
  width: 100%;
  display:flex;
  justify-content: center;
}

.main-post img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

.user-feed {
  width: 100%;
  height: auto;
}

.user-container {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  justify-content: center;
  row-gap: 2rem;
}

.user-post {
  height: 40rem;
  width: 50%;
  display: flex;
  justify-content: center;
}



